In [19]:
base = '../../data/ibamco_grouped3.csv'
amic = '../data/amic_zips.csv'

In [20]:
import pandas as pd 
import numpy as np

In [21]:
df = pd.read_csv(base)
amic = pd.read_csv(amic)

In [22]:
df

,ID,Origin,media,url,zipcode_iber,zipcode_cac,zipcode_ojd
0,0,"Iberfier, CAC, OJD",el 9 nou,el9nou.cat,08500,08500,8500.0
1,2,"Iberfier, CAC, OJD",betevé,beteve.cat,08018,08099,8018.0
2,3,"Iberfier, CAC, OJD",pirineus tv,pirineustv.cat,25700,25700,25700.0
3,4,"Iberfier, CAC, OJD",ràdio sabadell,radiosabadell.fm,08202,08202,8202.0
4,5,"AMIC, Iberfier, OJD",adolescents,adolescents.cat,08500,NaN,8500.0
...,...,...,...,...,...,...,...
1415,1682,OJD,urgelltv,urgelltv.cat,NaN,NaN,25007.0
1416,1683,OJD,21radio,21radio.cat,NaN,NaN,3500.0
1417,1684,OJD,aue,aue.cat,NaN,NaN,25007.0
1418,1685,OJD,fembase,fembase.cat,NaN,NaN,25001.0
1419,1686,OJD,amicib,amicib.media,NaN,NaN,8007.0

In [23]:
amic['zipcode'] = amic['zipcode'].apply(lambda x: str(int(float(x))).zfill(5) if not pd.isnull(x) else x)
amic['media'] = amic['media'].apply(lambda x: str(x.replace('www.', '')) if not pd.isnull(x) else x)
amic

                                                 media zipcode
0                                    viulacerdanya.cat   17539
1                                          maestrat.tv   12500
2                                          nitidia.cat   25005
3                                            buris-ana   12530
4                                  diariobajocinca.com   22520
..                                                 ...     ...
260                                        noudiari.es   07800
261                                         totpla.cat   07260
262  e-sports.cat, laradiodelsnens.cat, radiojove.c...   08500
263                                    uepmallorca.app   07600
264                                      7ciencies.cat   08950

[265 rows x 2 columns]

In [24]:
df['zipcode_amic'] = np.nan

In [25]:
for idx, row in df.iterrows():
    media = row['media']
    url = row['url']
    if not pd.isnull(media) and media in amic['media'].values:
        # Use .at to modify the value at the given index and column
        df.at[idx, 'zipcode_amic'] = amic[amic['media'] == media]['zipcode'].iloc[0]
        print('yes')
    elif not pd.isnull(url) and url in amic['media'].values:
        # Use .at to modify the value at the given index and column
        df.at[idx, 'zipcode_amic'] = amic[amic['media'] == url.strip()]['zipcode'].iloc[0]
        print('yes')

/tmp/ipykernel_10666/2063664494.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '08500' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[idx, 'zipcode_amic'] = amic[amic['media'] == url.strip()]['zipcode'].iloc[0]

yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes

In [26]:
df[df.zipcode_amic.notnull()]

,ID,Origin,media,url,zipcode_iber,zipcode_cac,zipcode_ojd,zipcode_amic
4,5,"AMIC, Iberfier, OJD",adolescents,adolescents.cat,08500,NaN,8500.0,08500
8,13,"AMIC, Iberfier, OJD",surtdecasa,surtdecasa.cat,43520,NaN,43520.0,43520
10,15,"AMIC, Iberfier, OJD",jornal,jornal.cat,08401,NaN,8176.0,08196
13,18,"AMIC, Iberfier, OJD",diaridelmaestrat,diaridelmaestrat.com,12500,NaN,12500.0,12500
20,30,"AMIC, Iberfier, OJD",balaguer,balaguer.tv,25600,NaN,25600.0,25600
...,...,...,...,...,...,...,...,...
1040,1264,Iberfier,tv costa brava,tvcostabrava.alacarta.cat,17248,NaN,NaN,17248
1041,1265,Iberfier,tv girona,tvgirona.alacarta.cat,17001,NaN,NaN,17001
1354,1617,OJD,canal4diario,canal4diario.com,NaN,NaN,7121.0,07121
1379,1642,OJD,emporda,emporda.info,NaN,NaN,17600.0,17600
1393,1656,OJD,junior-report,junior-report.cat,NaN,NaN,8010.0,08010

In [27]:
df.to_csv('../../data/ibamco_grouped4.csv', index=False)